.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.form_control label{
    font-size: 18px;
    color: var(--color-text);
}

.form_control input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.form_control input::placeholder{
    color: (--color-text-02);
}