.container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 75%;
    background-color: red;
}

.start{
    justify-content: start;
}

.colunm{
    flex-direction: column;
    justify-content: start;
}